<h2> <%= @dogs.size %> Results </h2>

<% @dogs.each do |dog| %>
  <div class="dog">
    <img class="image" src=<%= dog[:url] %>  alt="dog">
    <% if dog[:breeds] %>
      <% dog[:breeds].each do |breed|%>
          <p class="breed"> <%= breed[:name] %> </p>
          <p class="life-span"> <%= breed[:life_span] %> </p>
          <p class="temperament">
            <%= breed[:temperament] %>
          </p>
      <% end %>
    <% else %>
      <p class="breed"> Unknown </p>
      <p class="life-span"> Unknown </p>
      <p class="temperament"> Unknown </p>
    <% end %>
  </div>
<% end %>
