<h2> <%= @dogs.size %> Results </h2>

<% @dogs.each do |dog| %>
  <div class="dog">
    <img class="image" src=<%= dog.image %>  alt="dog" width="400" height="400">
    <p class="breed">
      Breed: <%= dog.breed_name %>
    </p>
    <p class="life-span">
      Life Span <%= dog.life_span %>
    </p>
    <p class="temperament">
      Temperament: <%= dog.temperament %>
    </p>
</div>
<% end %>
